Q1. How do you comment code in Python? What are the different types of comments?

Comments in Python are identified with a hash symbol, #, and extend to the end of the line. Hash characters in a string are not considered comments, however. There are three ways to write a comment - as a separate line, beside the corresponding statement of code, or as a multi-line comment block

In [1]:
#comment
"""for multiple line comment"""

'for multiple line comment'

Q2. What are variables in Python? How do you declare and assign values to variables?

A variable is a string of characters and numbers associated with a piece of information. The assignment operator, denoted by the “=” symbol, is the operator that is used to assign values to variables in Python. The line x=1 takes the known value, 1, and assigns that value to the variable with name “x”.

Q3. How do you convert one data type to another in Python?

Python defines type conversion functions like int(), float(), str() to directly convert one data type into another. This type of conversion is also called typecasting because the user casts (change) the data type of the objects. This function converts any data type into integer

Q4. How do you write and execute a Python script from the command line?

The most basic and easy way to run a Python script is by using the python command. You need to open a command line and type the word python followed by the path to your script file like this: python first_script.py Hello World! Then you hit the ENTER button from the keyboard, and that's it.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list=[1,2,3,4,5]

In [3]:
print(my_list[1:3])

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex numbers are created from two real numbers. You can create it directly or you can use the complex function. It is written in the form of (x + yj) where x and y are real numbers and j is an imaginary number which is the square root of -1.1

In [6]:
b=(3+4j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [10]:
age=25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [12]:
price=9.99

In [13]:
type(price)

float

Q10. Given the string "Hello, World!", extract the substring "World".

In [14]:
s="Hello, World"

In [16]:
s[6::1]

' World'

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [2]:
ks="komal shrivastav"

In [3]:
print(ks)

komal shrivastav

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [18]:
is_student=True