Q1

In [1]:
#string
k='komal'

In [3]:
type(k)

str

In [2]:
#lists
l=[1,2,3,4]

In [4]:
type(l)

list

In [5]:
#float
a=4.45

In [6]:
type(a)

float

In [7]:
#tuple
t=(1,2,3.0,True,'pwskill')

In [8]:
type(t)

tuple

Q2

In [10]:
	var1 = ' '

In [11]:
type(var1)

str

In [12]:
	var2 = '[ DS , ML , Python]'

In [13]:
type(var2)

str

In [15]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [16]:
type(var3)

list

In [17]:
var4=1.

In [18]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i)	/(division)=divides operand on the left side of oprator with the operand on the right side.
                the division operator return the quoteint.

In [20]:
#example
a=4 
b=20
print(b/a)

5.0

(ii)	% (modulus):divides operand on the left sides of the operator with the operand on the rigth.the modulus oprator return remainder

In [22]:
#example:
print(b%a)

0

(iii)	//:floor division=divides the operands and return the quoteint.it also removes the digits after the decimal point.if one of the operands is negative,the result is floored(i.e.rounded away from zero toward negative infinity).

In [23]:
#examples 
print(12//5)

2

In [24]:
print(12.0//5.0)

2.0

In [25]:
print(-19//5)

-4

In [26]:
print(-20.0//3)

-7.0

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [27]:
l1=['komal',4.5,68,23,1,True,'shrivastav',(5+7j),3,4,5]

In [28]:
for i in l1:
    print(type(i))
    print(i)

<class 'str'>
komal
<class 'float'>
4.5
<class 'int'>
68
<class 'int'>
23
<class 'int'>
1
<class 'bool'>
True
<class 'str'>
shrivastav
<class 'complex'>
(5+7j)
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible

In [2]:
A =100
B = 5    

count = 0  

while A % B == 0:
    A = A / B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not

In [2]:
l2=[26,45,67,90,67,34,32,12,28,19,18,11,20,23,40,30,60,63,48,50,54,98,89,80,8]

In [32]:
len(l2)

25

In [3]:
for i in l2:
    if(i/3):
        print(i)
    else:
        print("i is not divisible by 3")

26
45
67
90
67
34
32
12
28
19
18
11
20
23
40
30
60
63
48
50
54
98
89
80
8